/*////////////////////////////////////////////
//////////////////////////////////////////// 
///////////////MEDIA QUERIES///////////////*/

/* BELOW 1344px*/
@media (max-width: 84em) {
  .hero,
  .about,
  .contact {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .all-menu-items {
    gap: 3.5rem;
  }
}

/* BELOW 1200px*/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .all-menu-items {
    gap: 1.5rem;
  }

  .team-member,
  .chef-img {
    width: 300px;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .grid--footer {
    gap: 3rem;
  }
}

/* BELOW 960px*/
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-text-box {
    align-items: center;
  }

  .hero-img {
    width: 70%;
  }

  .about {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4rem;
  }

  .about-text {
    order: -1;
    align-items: center;
  }

  .about-text p {
    text-align: center;
  }

  .contact-container {
    grid-template-columns: 3fr 1.5fr;
  }

  .form-section {
    grid-template-columns: 1fr;
    column-gap: 2.4rem;
    row-gap: 1.4rem;
  }

  .inputbox input:focus ~ span,
  .inputbox input:valid ~ span {
    transform: translateX(-13px) translateY(-25px);
  }

  .all-menu-items {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 6rem;
  }

  .menu-items {
    max-width: 300px;
  }

  .all-team-members {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 6rem;
  }

  .team-member:last-child {
    grid-column: span 2/3;
  }
  .about-img {
    width: 400px;
  }

  .contact-image {
    width: 400px;
  }

  .inputbox {
    height: 3rem;
  }
  .grid--footer {
    grid-template-columns: 2fr 1fr 1.5fr 1fr;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(253, 228, 206, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .mobile-icon-nav[name="close"] {
    display: block;
  }

  .nav-open .mobile-icon-nav[name="menu"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .grid--footer {
    gap: 2rem;
  }
}

/* BELOW 736px*/
@media (max-width: 46em) {
  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 4rem;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 3;
    margin-bottom: 3.2rem;
  }

  .btn,
  .btn-signup {
    font-size: 2rem;
    padding: 1.5rem 3rem;
  }
}

/* BELOW 624px*/
@media (max-width: 39em) {
  .hero {
    padding: 0 3rem;
    gap: 5rem;
  }

  .hero-img {
    width: 100%;
  }

  .about {
    padding: 3rem 1rem;
  }
  .about-img {
    max-width: 300px;
  }
  .all-team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .all-menu-items {
    column-gap: 2rem;
    row-gap: 4rem;
  }

  .menu {
    padding: 3.5rem;
  }

  .menu-text {
    padding: 1rem 2rem;
  }

  .contact-left {
    padding: 2rem;
  }
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-image {
    height: 50rem;
    width: 100%;
    grid-row: 1;
  }
}
